* {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}
h1 {
  font-size: 76px;
  line-height: 76px;
}

h2 {
  font-size: 64px;
  line-height: 64px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

body {
  width: 1280px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fbfbfb;
}

button {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  cursor: pointer;
}

button:hover {
  background-color: #d4bfc4;
  color: #7a3145;
  border: 1px solid #d4bfc4;
}

button:focus {
  background-color: #fbfbfb;
  color: #7a3145;
  border: 1px solid #7a3145;
}
.your-order {
  background-color: #576f35;
  height: 1, 036px;
  width: 1, 280px;
}

.your-order-area {
  padding: 100px;
}

.harvest-text {
  color: #d4bfc4;
}

.your-order-top-titles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.your-order-top-titles > h2 {
  width: 751px;
  height: 128px;
}

.harvest-text {
  color: #d4bfc4;
}

.your-order-top-titles > p {
  width: 742px;
  height: 40px;
}
.contact-form-social-networks {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 52px;
}

.block-element {
  border-radius: 30px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px 48px 52px 48px;
}

.block-element > h3 {
  color: black;
  width: 438px;
  height: 128px;
}

.form-us-text {
  color: #7a3145;
}

.the-form-text {
  color: #576f35;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 52px;
}

.contact-form ::placeholder {
  color: #141414;
  font-weight: 500;
}

.form-input > input {
  border-radius: 30px;
  width: 428px;
  height: 52px;
  padding-left: 14px;
}

.form-textarea > textarea {
  border-radius: 15px;
  resize: none;
  width: 428px;
  height: 96px;
  padding-top: 16px;
  font-weight: 500;
  padding-left: 14px;
}

input,
textarea {
  border: 1px solid #858585;
}

input:hover,
textarea:hover {
  border-color: #7a3145;
}

input:valid,
textarea:valid {
  border-color: #3cbc81;
}

input:invalid,
textarea:invalid {
  border-color: #e74a3b;
}

.send-button {
  border-radius: 30px;
  border: 1px solid #7a3145;
  background-color: #7a3145;
  color: #fbfbfb;
  width: 428px;
  height: 52px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.block-element > img {
  width: 428px;
  height: 352px;
}

#social {
  background-color: #7a3145;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 80px;
}

.social-networks-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #d4bfc4;
  margin-bottom: 16px;
}

.social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.social-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #fbfbfb;
  text-transform: uppercase;
  text-decoration: none;
}

.social-link > span {
  margin-left: 12px;
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    letter-spacing: -1.5%;
    text-transform: uppercase;
  }
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  h2 {
    font-size: 48px;
    line-height: 52px;
  }

  h3 {
    font-size: 28px;
    line-height: 28px;
  }

  body {
    width: 375px;
    height: 1536px;
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #fbfbfb;
  }

  button {
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.015em;
    cursor: pointer;
  }

  .your-order {
    background-color: #576f35;
    height: 1, 536px;
    width: 375px;
  }

  .your-order-area {
    padding: 80px 20px 80px 20px;
  }

  .your-order-top-titles {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .your-order-top-titles > h2 {
    width: 335px;
    height: 208px;
  }

  .harvest-text {
    color: #d4bfc4;
  }

  .your-order-top-titles > p {
    width: 335px;
    height: 80px;
  }
  .contact-form-social-networks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .block-element {
    border-radius: 30px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 40px 20px;
  }

  .block-element > h3 {
    color: black;
    width: 295px;
    height: 140px;
  }

  .form-us-text {
    color: #7a3145;
  }

  .the-form-text {
    color: #576f35;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }

  .contact-form ::placeholder {
    color: #141414;
    font-weight: 500;
  }

  .form-input > input {
    border-radius: 30px;
    border: 1px solid #858585;
    width: 295px;
    height: 48px;
    padding-left: 16px;
  }

  .form-textarea > textarea {
    border-radius: 15px;
    border: 1px solid #858585;
    resize: none;
    width: 295px;
    height: 92px;
    padding-top: 16px;
    font-weight: 500;
    padding-left: 16px;
  }

  input:default,
  textarea:default {
    border-color: #858585;
  }

  input:hover,
  textarea:hover {
    border-color: #7a3145;
  }

  input:valid,
  textarea:valid {
    border-color: #3cbc81;
  }

  input:invalid,
  textarea:invalid {
    border-color: #e74a3b;
  }

  .send-button {
    border-radius: 30px;
    border: 1px solid #7a3145;
    background-color: #7a3145;
    color: #fbfbfb;
    width: 295px;
    height: 52px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }

  .block-element > img {
    width: 295px;
    height: 272px;
  }

  #social {
    background-color: #7a3145;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }

  .social-networks-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #d4bfc4;
    margin-bottom: 16px;
  }

  .social-links {
    list-style-type: none;
    padding: 0;
  }

  .social-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #fbfbfb;
    text-transform: uppercase;
    text-decoration: none;
  }

  .social-link > span {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    letter-spacing: -1.5%;
    text-transform: uppercase;
  }
  h1 {
    font-size: 76px;
    line-height: 76px;
  }

  h2 {
    font-size: 64px;
    line-height: 64px;
  }

  h3 {
    font-size: 32px;
    line-height: 32px;
  }

  body {
    width: 375px;
    height: 1536px;
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #fbfbfb;
  }

  button {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    cursor: pointer;
  }

  button:hover {
    background-color: #d4bfc4;
    color: #7a3145;
    border: 1px solid #d4bfc4;
  }

  button:focus {
    background-color: #fbfbfb;
    color: #7a3145;
    border: 1px solid #7a3145;
  }
  .your-order {
    background-color: #576f35;
    height: 1, 720px;
    width: 768px;
  }

  .your-order-area {
    padding: 100px 64px 100px 64px;
  }

  .harvest-text {
    color: #d4bfc4;
  }

  .your-order-top-titles {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .your-order-top-titles > h2 {
    width: 640px;
    height: 192px;
  }

  .harvest-text {
    color: #d4bfc4;
  }

  .your-order-top-titles > p {
    width: 640px;
    height: 60px;
  }

  .contact-form-social-networks {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 52px;
  }

  .block-element {
    border-radius: 30px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 100px 72px 100px;
  }

  .block-element > h3 {
    color: black;
    width: 440px;
    height: 128px;
  }

  .form-us-text {
    color: #7a3145;
  }

  .the-form-text {
    color: #576f35;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 52px;
  }

  .contact-form ::placeholder {
    color: #141414;
    font-weight: 500;
  }

  .form-input > input {
    border-radius: 30px;
    border: 1px solid #858585;
    width: 440px;
    height: 52px;
    padding-left: 14px;
  }

  .form-textarea > textarea {
    border-radius: 15px;
    border: 1px solid #858585;
    resize: none;
    width: 440px;
    height: 96px;
    padding-top: 16px;
    font-weight: 500;
    padding-left: 14px;
  }

  input:default,
  textarea:default {
    border-color: #858585;
  }

  input:hover,
  textarea:hover {
    border-color: #7a3145;
  }

  input:valid,
  textarea:valid {
    border-color: #3cbc81;
  }

  input:invalid,
  textarea:invalid {
    border-color: #e74a3b;
  }

  .send-button {
    border-radius: 30px;
    border: 1px solid #7a3145;
    background-color: #7a3145;
    color: #fbfbfb;
    width: 440px;
    height: 52px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }

  .block-element > img {
    width: 536px;
    height: 316px;
  }

  #social {
    background-color: #7a3145;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 52px;
    padding: 52px;
  }

  .social-networks-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #d4bfc4;
    margin-bottom: 16px;
  }

  .social-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .social-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #fbfbfb;
    text-transform: uppercase;
    text-decoration: none;
  }

  .social-link > span {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.footer {
  width: 1280px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #7a3145;
  height: 392px;
  color: #fff;
}

.footer-container {
  width: 1080px;
  height: 288px;
  display: flex;
  flex-direction: column;
  gap: 124px;
  padding-left: 100px;
  padding-top: 52px;
}

.logo-bottom-text {
  margin-top: 24px;
  width: 265px;
  height: 60px;
  font-weight: 500;
}

.footer-container-top {
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 144px;
  gap: 250px;
}

.footer-container-top-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 112px;
}

.footer-container-top-right-link {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 24px;
}

.link-item {
  width: 236px;
  height: 32px;
}

.link-item > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fbfbfb;
  font-size: 32px;
}

.footer-container-top-right-contact {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 84px;
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
}

.contact-item > a {
  text-decoration: none;
  color: #fbfbfb;
}

.contact-item {
  width: 215px;
  height: 40px;
}

.footer-container-bottom {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #d4bfc4;
}

.footer-container-bottom-left > a {
  color: #d4bfc4;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 375px;
    margin: 0;
    padding: 0;
    background-color: #7a3145;
    height: 584px;
    color: #fff;
  }

  .footer-container {
    width: 335px;
    height: 504px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 20px;
    padding-top: 40px;
  }

  .logo-bottom-text {
    margin-top: 14px;
    width: 335px;
    height: 80px;
  }

  .footer-container-top {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 368px;
    gap: 40px;
  }

  .footer-container-top-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-container-top-right-link {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 14px;
    text-align: left;
    padding: 0;
  }

  .link-item {
    width: 236px;
    height: 32px;
  }

  .link-item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fbfbfb;
    font-size: 32px;
  }

  .footer-container-top-right-contact {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 215px;
    height: 74px;
    gap: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .contact-item > a {
    text-decoration: none;
    color: #fbfbfb;
  }

  .contact-item {
    width: 179px;
    height: 40px;
  }

  .footer-container-bottom {
    width: 335px;
    height: 56px;
    display: flex;
    flex-direction: column;
    color: #d4bfc4;
    gap: 16px;
    align-items: start;
  }

  .footer-container-bottom-left > a {
    color: #d4bfc4;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 768px;
    margin: 0;
    padding: 0;
    background-color: #7a3145;
    height: 476px;
    color: #fff;
  }

  .footer-container {
    width: 704px;
    height: 412px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 32px;
    padding-top: 32px;
  }

  .logo-bottom-text {
    margin-top: 24px;
    width: 265px;
    height: 60px;
  }

  .footer-container-top {
    display: flex;
    flex-direction: row;
    width: 704px;
    height: 292px;
    gap: 212px;
  }

  .footer-container-top-right {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .footer-container-top-right-link {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 24px;
  }

  .link-item {
    width: 236px;
    height: 32px;
  }

  .link-item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fbfbfb;
    font-size: 32px;
  }

  .footer-container-top-right-contact {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 84px;
    gap: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .contact-item > a {
    text-decoration: none;
    color: #fbfbfb;
  }

  .contact-item {
    width: 215px;
    height: 40px;
  }

  .footer-container-bottom {
    width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #d4bfc4;
  }

  .footer-container-bottom-left > a {
    color: #d4bfc4;
    text-decoration: none;
  }
}
